[submodule "submodules/dataplicity"]
	path = submodules/dataplicity
	url = https://github.com/alex-mextner/Dataplicity.git
	branch = fix/dataplicity-modern-api
[submodule "submodules/home-generative-agent"]
	path = submodules/home-generative-agent
	url = https://github.com/goruck/home-generative-agent.git
	branch = main
[submodule "submodules/hacs"]
	path = submodules/hacs
	url = https://github.com/hacs/integration.git
[submodule "submodules/hass-mcp-server"]
	path = submodules/hass-mcp-server
	url = https://github.com/ganhammar/hass-mcp-server.git
[submodule "submodules/HA-WiFi-Sensor-Tracker"]
	path = submodules/HA-WiFi-Sensor-Tracker
	url = https://github.com/5a2v0/HA-WiFi-Sensor-Tracker.git
[submodule "submodules/xtend_tuya"]
	path = submodules/xtend_tuya
	url = https://github.com/azerty9971/xtend_tuya.git
[submodule "submodules/YandexDialogs"]
	path = submodules/YandexDialogs
	url = https://github.com/AlexxIT/YandexDialogs.git
[submodule "submodules/yandex_smart_home"]
	path = submodules/yandex_smart_home
	url = https://github.com/dext0r/yandex_smart_home.git
[submodule "submodules/YandexStation"]
	path = submodules/YandexStation
	url = https://github.com/AlexxIT/YandexStation.git
